.chart-card{
    width:99%;
    margin:60px auto 0;
    background:var(--bg-secondary);
    border:1px solid var(--border-color);
    border-radius:24px;
    padding:35px;
    box-shadow:var(--shadow);
    transition:all .3s ease;
}
.chart-card:hover{
    transform:translateY(-3px);
    box-shadow:0 12px 30px rgba(0,0,0,.15);
}
.chart-card h2{
    color:var(--text-color);
    font-size:26px;
    font-weight:700;
    margin-bottom:8px;
}
.chart-wrapper{
    position:relative;
    height:320px;
    width:100%;
}
.chart-subtitle{
    color:var(--text-color);
    opacity:.65;
    font-size:14px;
    line-height:1.5;
    margin-bottom:30px;
}
@media(max-width:768px){
   .chart-card{
        width:100%;
        padding:20px;
        margin-top:40px;
    }
    .chart-wrapper{
        height:260px;
    }

}